@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: "Be Vietnam";
    src: url(../fonts/BeVietnamPro-Regular.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Be Vietnam";
    src: url(../fonts/BeVietnamPro-SemiBold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Be Vietnam";
    src: url(../fonts/BeVietnamPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Be Vietnam";
    src: url(../fonts/BeVietnamPro-ExtraBold.ttf);
    font-weight: 900;
}