*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
}
:root {
    --font-color: hsl(0, 0%, 70%);
    --hightlight: hsl(0, 0%, 100%);
    --font-family-hight: "Be Vietnam";
    --normal-font: "Poppins";
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 90px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.brand-image img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    animation: flip 2s infinite ease-in-out;
}
@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.brand-text {
    color: var(--hightlight);
    font-family: var(--font-family-hight);
    font-weight: 600;
    font-size: clamp(7px, 3vw, 20px);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 30px;
    background: rgba(18, 0, 24, 0.3);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
}
.nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-family-hight);
    font-size: 24px;
    transition: all 300ms ease-in-out;
}
.nav-links a:hover {
    color: var(--hightlight);
    transform: translateY(-5px);
}
.mother {
    background: linear-gradient(to bottom, #2b0f3f, #120018, #050008);
    min-height: 800px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: clamp(10px, 3vw, 25px);
    width: 100%;
}
.big-brand {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: -100px;
    opacity: 0;
    animation: slidein 1s forwards ease;
}
@keyframes slidein {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: -30px;
        opacity: 1;
    }
}
.big-brand p {
    color: #58227e;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: clamp(30px, 10vw, 24px);
    font-family: var(--normal-font);
}
.big-brand h1 {
    color: rgba(255, 255,255, 0.8);
    font-family: var(--font-family-hight);
    font-size: 15vw;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -0.05em;
    user-select: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: all 700ms ease;
}
.stroke {
    -webkit-text-stroke: 2px rgba(255, 255,255, 0.7);
    color: transparent;
    transition: all 300ms ease;
}
.big-brand h1:hover {
    transform: scale(1.05) skewY(3deg);
    .stroke {
        color: #58227e;
        -webkit-text-stroke: 1px #58227e;
        text-shadow: 0 2px 5px #58227e;
    }
}
.Welcome {
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.buttons a{
    text-decoration: none;
    color: var(--hightlight);
    font-family: var(--font-family-hight);
}
.Contact {
    background-color: gray;
    padding: 20px 30px;
    border-radius: 30px;
    transition: all 300ms ease-in-out;
}
.Contact:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.35);
}
.SHOP {
    border-left: 2px solid transparent;
    padding: 20px  30px;
    transition: all 300ms ease-in-out;
}
.SHOP:hover {
    border-left: 2px solid grey;
    transform: translateX(5px);
}
.info-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: min(100%, 1000px);
    height: 80vh;
    z-index: 0;
    background: linear-gradient(to bottom, #2b0f3f, #120018, #050008);
    top: -1000px;
    left: auto;
    bottom: auto;
    border-radius: 25px;
    box-shadow: 0 4px 9px rgba(100, 100, 100, 0.35);
    opacity: 0;
    transform: scale(0.8);
    transition: all 300ms ease-in-out;
}
.info-box.active {
    top: auto;
    transform: scale(1);
    opacity: 1;
    z-index: 1000;
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #050008;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.header-box h1 {
    color: var(--hightlight);
    font-family: var(--font-family-hight);
}
.header-box button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 9px;
}
.title h1 {
    margin-top: 20px;
    color: var(--hightlight);
    font-family: var(--font-family-hight);
    font-weight: 900;
    margin-bottom: 40px;
}
.info-box ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-box ul li {
    font-family:var(--font-family-hight); 
    color: var(--hightlight);
}
.info {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}
.info p {
    color: var(--hightlight);
}
.info p a {
    text-decoration: none;
    color: var(--hightlight);
}
