*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to bottom, #2b0f3f, #120018, #050008);
    height: 100vh;
    width: 100%;
}
:root {
    --font-color: hsl(0, 0%, 70%);
    --hightlight: hsl(0, 0%, 100%);
    --font-family-hight: "Be Vietnam";
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 90px;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
}
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.brand-image img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    animation: flip 2s infinite ease-in-out;
}
@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.brand-text {
    color: var(--hightlight);
    font-family: var(--font-family-hight);
    font-weight: 600;
    font-size: clamp(7px, 3vw, 20px);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 40px;
    border-radius: 20px;
  background: rgba(18, 0, 24, 0.6);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 4px 30px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
}
.nav-links a {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-family-hight);
    font-size: 24px;
    transition: all 300ms ease-in-out;
}
.nav-links a:hover {
    color: var(--hightlight);
    transform: translateY(-5px);
}